* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 1440px;
  background-color: #111;
  color: #fff;
  margin: 0 auto;
}

header {
  padding: 40px 70px 10px 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 33px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.menu a:hover {
  color: #118da8;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.image img {
  width: 650px;
  height: 873px;
}

.content {
  max-width: 530px;
}

.content h2 {
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
  margin-top: 300px;
  margin-bottom: 80px;
}

.content h2 span {
  font-size: 75px;
  font-weight: 400;
}

.content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.platforms {
  margin-top: 20px;
}

.icons {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.episodes {
  padding: 100px 70px 160px 70px;
}

.episodes-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 40px;
}

.episodes-title h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 79px;
}

.btn {
  background-color: #118da8;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 15px 12px 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
}

.episodes-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.episode-item {
  padding: 40px;
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 53px;
}

.badge {
  background-color: #191919;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: fit-content;
  padding: 0 16px;
  border-radius: 6px;
  margin-bottom: 48.44px;
}

.episode-count {
  color: #118da8;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}

.episode-item_block h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  margin: 0;
  margin-bottom: 28px;
}

.episode-item_block p {
  color: #ffffffb2;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
  margin-bottom: 18px;
}

.person-block {
  padding: 100px 70px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.btn-secondary {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.person-block_content span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #118da8;
}

.person-block_content h3 {
  font-size: 65px;
  font-weight: 400;
  line-height: 79px;
  margin: 0;
  margin-bottom: 28px;
}

.person-block_content p {
  color: #ffffffb2;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
  margin-bottom: 33px;
}

.subscribe-block {
  padding: 100px 70px;
}

.subscribe-block_content {
  padding: 60px 60px 75px 60px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 76px;
  border-radius: 32px;
}

.subscribe-block_text span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #118da8;
}

.subscribe-block_text h3 {
  font-size: 65px;
  font-weight: 400;
  line-height: 79px;
  margin: 0;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.subscribe-form input {
  width: 522px;
  height: 82px;
  background-color: #191919;
  border: none;
  border-radius: 6px;
  padding: 26px 20px 27px 20px;
  color: #ffffffb2;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.reviews {
  padding: 100px 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.review-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 30%;
  gap: 19px;
  background-color: #000000;
  padding: 50px;
  border-radius: 32px;
}

.review-block h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 43px;
  margin: 0;
}

.review-block span {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #FFFFFFB2;
}

footer {
  padding: 100px 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 239px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-menu {
  list-style-type: none;
}

.left-menu {
  margin-right: 120px;
}

.right-menu {
  margin-right: 21px;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.footer-menu a:hover {
  color: #118da8;
}

footer .platforms {
  margin: 0;
  margin-right: 200px;
}